body{
	margin: 0 auto;
	padding-top: 2em;
}
img{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
h1{
	font-family:'Libre Franklin', sans-serif;
	color: #737373;
	font-size: 2.4em;
	padding: .15em 2%;
	float: left;
}
#page {
	width: 960px;
	font-family:'Libre Franklin', sans-serif;
	margin: 0 auto;
	color: #737373;
	padding: 0em 0% 0em 0%;
	background-color: #f2f2f2;
	border: 1px solid #e6e6e6;
	border-radius: 10px;
}
.section{
	padding: 0em 3%;
}

.page-add{
	background-color: white;
	border-radius: 1em;
	display: inline-block;
	font-family:'Libre Franklin', sans-serif;
	border: 1px solid white;
	margin: 1em 0;
	padding: 2em 1%;
	width: 100%;
	line-height: 1.5em;
	clear: both;
}

input[type=text], select, textarea{
	width: 100%;	
	padding: 1em;
	border: 1px solid #ccc;
	border-radius: 2em;
	box-sizing: border-box;
	margin-top: 1em;
	margin-bottom: 1em;
	resize: vertical;
}
input[type=submit]{
	background-color:#cccccc;
	width: 10%;
	color: white;
	padding: 1em 1%;
	border: none;
	border-radius: 1em;
	cursor: pointer;
}
input[type=submit]:hover{
	background-color: #4d4d4d;
}
table{
	background-color: white;
	border-radius: 1em;
	border: 1px solid white;
	margin: 1em 0;
	width: 100%;
}
th{
	background-color: #cccccc;
	color: white;
	font-size: 1.25em;
	border-radius: 1em;
	cursor: pointer;
	padding: .9em 2%;
	margin: 3em 2%;
}
th small{
	font-size: .5em;
}
a{
	text-decoration: none;
}
td a{
	color: #4d4d4d;
	display: block;
	padding: 1em 2%;
}
tr:hover td a{
	color:black;
}
.btn-add{
	float: right;
}

.btn, .btn-add {
  background-color: #cccccc; 
  border: none;
  padding: 15px 25px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .60em;
  border-radius: 1em;	
}